skills/sf-flow-builder/templates/record-triggered-before-delete.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <label>{{FLOW_LABEL}}</label>
    <description>{{FLOW_DESCRIPTION}}</description>
    <processType>AutoLaunchedFlow</processType>
    <status>Draft</status>

    <!-- Before-Delete Trigger Configuration -->
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <object>{{OBJECT_NAME}}</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
        <bulkSupport>true</bulkSupport>
        <connector>
            <targetReference>Decision_Check_If_Deletable</targetReference>
        </connector>
    </start>

    <!-- Variables for Deletion Check -->
    <variables>
        <name>varDeletionAllowed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>

    <variables>
        <name>varDeletionReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- Decision: Check if Record Can Be Deleted -->
    <decisions>
        <name>Decision_Check_If_Deletable</name>
        <label>Check if Deletable</label>
        <locationX>50</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>Allow_Deletion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Allow Deletion</defaultConnectorLabel>
        <rules>
            <name>Block_Deletion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.{{PROTECTED_FIELD}}</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>{{PROTECTED_VALUE}}</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prevent_Deletion</targetReference>
            </connector>
            <label>Block Deletion</label>
        </rules>
    </decisions>

    <!-- Assignment: Set Deletion Not Allowed -->
    <assignments>
        <name>Prevent_Deletion</name>
        <label>Prevent Deletion</label>
        <locationX>50</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>varDeletionAllowed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeletionReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot delete records with {{PROTECTED_FIELD}} = {{PROTECTED_VALUE}}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Error_To_Record</targetReference>
        </connector>
    </assignments>

    <!-- Add Error to Record (Prevents Deletion) -->
    <recordUpdates>
        <name>Add_Error_To_Record</name>
        <label>Add Error to Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <inputReference>$Record</inputReference>
        <addErrorMessage>
            <elementReference>varDeletionReason</elementReference>
        </addErrorMessage>
    </recordUpdates>

    <!-- Assignment: Allow Deletion (Log or Archive First) -->
    <assignments>
        <name>Allow_Deletion</name>
        <label>Allow Deletion</label>
        <locationX>200</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>varDeletionAllowed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Archive_Record_Data</targetReference>
        </connector>
    </assignments>

    <!-- Create Archive Record Before Deletion -->
    <recordCreates>
        <name>Archive_Record_Data</name>
        <label>Archive Record Data</label>
        <locationX>200</locationX>
        <locationY>350</locationY>
        <faultConnector>
            <targetReference>Handle_Archive_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Original_Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deleted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>{{ARCHIVE_OBJECT}}</object>
    </recordCreates>

    <!-- Error Handler for Archive Failure -->
    <assignments>
        <name>Handle_Archive_Error</name>
        <label>Handle Archive Error</label>
        <locationX>350</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <!-- Error Message Variable -->
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
