skills/sf-flow-builder/templates/record-triggered-after-save.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <!--
    Template: Record-Triggered Flow (After-Save)
    API Version: 62.0+

    IMPORTANT: This template follows strict alphabetical element ordering required by Salesforce Metadata API
    Elements MUST be in this order: apiVersion, assignments, decisions, description, label, processType, recordUpdates, start, status, variables

    Note: bulkSupport element is DEPRECATED in API 60.0+ and should NOT be used
    Modern flows are automatically bulkified by Salesforce

    AUTO-LAYOUT: All locationX and locationY are set to 0 for Auto-Layout
    Benefits: Cleaner version control, easier code reviews, no coordinate noise in diffs
    Salesforce will automatically position elements optimally
    -->

    <apiVersion>62.0</apiVersion>

    <!-- Assignment: Process Record -->
    <assignments>
        <name>Action_Process_Record</name>
        <label>Process Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.{{TARGET_FIELD}}</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{{NEW_VALUE}}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>

    <!-- Error Handler Assignment -->
    <assignments>
        <name>Error_Handler</name>
        <label>Handle Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <!-- Decision: Check Entry Criteria -->
    <decisions>
        <name>Decision_Check_Criteria</name>
        <label>Check Entry Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Criteria_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.{{FIELD_NAME}}</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>{{FIELD_VALUE}}</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Process_Record</targetReference>
            </connector>
            <label>Criteria Met</label>
        </rules>
    </decisions>

    <description>{{FLOW_DESCRIPTION}}</description>
    <label>{{FLOW_LABEL}}</label>
    <processType>AutoLaunchedFlow</processType>

    <!-- Update Records with Fault Path -->
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_Handler</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>

    <!-- Trigger Configuration -->
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>{{OBJECT_NAME}}</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>Decision_Check_Criteria</targetReference>
        </connector>
    </start>

    <status>Draft</status>

    <!-- Variables for Error Handling -->
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
